{
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/entities/(.*)$",
    "^@/use-cases/(.*)$",
    "^@/data-access/(.*)$",
    "^@/actions/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils/(.*)$",
    "^@/app/(.*)$",
    "^@/stores/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
